<h3>Capacity Constraints Have Risen Most in Queens and the Bronx</h3>
<p>
  <p>Other boroughs have had high ICU bed occupancy since December, with Brooklyn now having the tightest supply.</p>
</p>
<div id="chart-c">
</div>
<p><i>Source: <a href=https://healthdata.gov/Hospital/COVID-19-Reported-Patient-Impact-and-Hospital-Capa/anag-cw7u>HealthData.gov</a></i></p>


<script src="scripts/nyc_icu/c-map.js"></script>
