<h3>ICU Capacity is Strained, But Without a Clear Geographic Pattern</h3>
  <p>Many-- but not all-- major Manhattan hospitals are experiencing bed shortages. Capacity is limited everywhere in Brooklyn, however.</p>
</p>
<div class="row">
  <div class="col-8">
    <div id="chart-a"></div>
  </div>
  <div class="col-4 mt-4">
    <div id="hosp-head"></div>
    <div id="hosp"></div>
    <br>
    <div id="totalbeds-head"></div>
    <div id="totalbeds"></div>
    <br>
    <div id="occupied-head"></div>
    <div id="occupied"></div>
    <br>
    <div id="percent-head"></div>
    <div id="percent"></div>
  </div>
</div>
<p><i>Source: <a href=https://healthdata.gov/Hospital/COVID-19-Reported-Patient-Impact-and-Hospital-Capa/anag-cw7u>HealthData.gov</a></i></p>

<script src="scripts/nyc_icu/a-map.js"></script>
