<h3>Chart 1: A map about dots <small>easy</small></h3>
<p>
  Do you like <a href="https://www.reddit.com/r/outrun/">/r/outrun</a>? Do you like <a href="https://ironskullet.com/2018/03/01/what-is-synthwave-2018-edition/">synthwave</a>? Cool, let's make a map like that.</p>
  <p>Data is in <code>nyc.geojson</code> and <code>nyc_icu.csv</code></p>
</p>
<div id="chart-b">
</div>

<script src="scripts/nyc_icu/b-map.js"></script>
